<?xml version="1.0" ?>
<model>
    <name>mecanum car</name>
    <version>0.1</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Morven Wonder</name>
        <email>abackcountryengineer@gmail.com</email>
    </author>
    <description>Setup version of the mecanum car(mechai body) that a mechain brain will be able to control</description>
</model>
